.head {
  margin-top: 120px;
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: auto 1fr;
}
.head__image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 66px;
  display: block;
}
.head__caption {
  margin: 0;
  margin-top: 68px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}
.head__name {
  margin: 0;
  margin-top: 12px;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.head__description {
  margin: 0;
  margin-top: 35px;
  font-size: 20px;
  letter-spacing: 0.03em;
}
.head__button {
  padding: 12px 16px;
  margin: 0;
  margin-top: 32px;
  border: none;
  background: #2188ff;
  border: 1px solid rgba(209, 213, 218, 0.1);
  border-radius: 4px;
  font-size: 20px;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
}
.button__image {
  width: 24px;
  height: 24px;
  margin-right: 18px;
  background: #2188ff;
}
@media (max-width: 767px) {
  .head {
    grid-template-columns: auto;
    margin: 0 16px;
    margin-top: 21px;
  }
  .head__image {
    margin-right: 0px;
    width: 220px;
    height: 220px;
  }
  .head__caption {
    margin-top: 12px;
    letter-spacing: 0.05em;
  }
  .head__name {
    margin-top: 8px;
    font-size: 22px;
    letter-spacing: 0.05em;
  }
  .head__description {
    margin-top: 16px;
    font-size: 17px;
    letter-spacing: 0.03em;
    max-width: 90%;
  }
  .head__button {
    margin-top: 24px;
    font-size: 18px;
    line-height: 22px;
  }
}
